<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Carousel Template for Bootstrap</title>

    <link href="/css/bootstrap-rtl.min.css" rel="stylesheet">
    <link href="/css/admin_main.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="https://d1azc1qln24ryf.cloudfront.net/114779/Socicon/style-cf.css?u8vidh">
</head>
<body class="rtl">

    #parse("/template/admin_header.vm")
<div class="container mh-100vh my-5">

    <div class="row">
        <div class="col col-12">
            #if ($shoppingcards.size() > 0)
                <ul class="list-group w-100 m-4">
                    #foreach($shoppingcard in $shoppingcards)
                        <li class="list-group-item p-0 border border-primary">
                            <span class="float-right p-2">
                                $shoppingcard.getUserName() ($shoppingcard.getUser().getPhone())
                            </span>

                            <select name="category" class="form-control select-deliverer float-left w-25" data-shoppingcard-id="$shoppingcard.getId()" data-default="$shoppingcard.getDelivererId()">

                                #if ($shoppingcard.getDelivererId() == 0)
                                    <option value="0" selected>انتخاب پست چی</option>
                                #else
                                    <option value="0">انتخاب پست چی</option>
                                #end

                                #foreach($deliverer in $deliverers)
                                    #if($shoppingcard.getDelivererId() == $deliverer.getId())
                                        <option value="$deliverer.getId()" selected>$deliverer.getName()</option>
                                    #else
                                        <option value="$deliverer.getId()">$deliverer.getName()</option>
                                    #end
                                #end

                            </select>

                            <button class="btn btn-success float-left p-2" style="border-radius: 0 !important;">
                                <i class="fas-m fas fa-map ml-1"></i>
                                $shoppingcard.getPrice()
                            </button>
                        </li>
                        <li class="list-group-item bg-dark text-white mb-2">
                            $shoppingcard.getAddress()
                        </li>
                    #end
                </ul>
            #else
                <h4 class="text-center">موردی یافت نشد</h4>
            #end
        </div>
    </div>


</div>


    #parse("/template/footer.vm")
    #include("/template/admin_scripts.html")
<script>
    $(document).ready(function () {
        $(".select-deliverer").click(function (event) {
            var currSelect = $(this);
            var initialVal = currSelect.attr("data-default");
            var currVal = currSelect.val();
            if (currVal == initialVal)
                return;
            var shoppingCardId = currSelect.attr("data-shoppingcard-id");
            window.location.href = "/admin/shoppingcards/deliverer?id="
                + currVal + "&shc_id=" + shoppingCardId;
        });
    });
</script>
</body>
</html>
