<div id="main-navbar" class="w-100 fixed-top bg-dark">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">پنل مدیریت</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/">صفحه ی اصلی </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/shoppingcards">آمار</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/deliverers">مدیریت پست کننده ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">مدیریت محصولات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/giftcards">کارت های تخفیف</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">مدیریت دسته بندی ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products/new">ایجاد محصول جدید</a>
                </li>
            </ul>
            <button class="btn btn-danger my-2 my-sm-0 mr-1" type="submit">
                خروج
                <i class="fas fa-power-off fas-m"></i>
            </button>
        </div>
    </nav>
</div>