<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>Carousel Template for Bootstrap</title>

    #include("/template/cl_header_resources.html")
</head>
<body class="rtl">
    #parse("/template/client_header.vm")
<div class="container-fluid mh-100vh">
    #if ($products.size() == 0)
        <div class="row">
            <div class="alert alert-info w-100 p-4 m-5">
                <span>هیچ موردی در سبد خرید شما وجود ندارد</span>
                <a class="btn btn-outline-danger float-left" href="/">صفحه ی اصلی</a>
            </div>
        </div>
    <div class="row" style="display: none;">
    #else
    <div class="row">
    #end
    <div class="col col-12">
        <form class="p-3 m-4 border-success border" method="post">
            <div class="row">
                <div class="col col-12 col-md-4">
                    <div class="form-group">
                        <label>نام کامل</label>
                        <input class="form-control" name="name" placeholder="نام کامل">
                    </div>
                </div>
                <div class="col col-12 col-md-4">
                    <div class="form-group">
                        <label>تلفن همراه</label>
                        <input class="form-control" id="phone" placeholder="تلفن همراه">
                    </div>
                </div>
                <div class="col col-12 col-md-4">
                    <div class="form-group">
                        <label>ایمیل</label>
                        <input class="form-control" name="email" placeholder="ایمیل">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-md-6">
                    <div class="form-group">
                        <label>آدرس کامل</label>
                        <textarea class="form-control" name="address" placeholder="آدرس کامل"></textarea>
                    </div>
                </div>
                <div class="col col-12 col-md-6">
                    <div class="form-group">
                        <label>توضیحات</label>
                        <textarea class="form-control" name="description" placeholder="توضیحات"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-12 col-md-12">
                    <button type="submit" id="next" class="btn btn-primary float-left">پرداخت</button>
                </div>
            </div>
        </form>
    </div>
</div>
    <div class="row">
        <div class="col col-md-12 pr-5 pl-5">
            <div class="row">
                #foreach($product in $products)
                    <div class="col col-md-3 col-12 pr-md-1 pl-md-1 pr-0 pl-0 pb-2 product"
                         data-product-id="$product.getId()">
                        <div class="card p-0">
                            <img class="card-img-top w-100" src="$product.getMainImage()" alt="Card image cap"
                                 onclick="window.location.href = '/products/view?id=$product.getId()'">
                            <div class="card-body"
                                 onclick="window.location.href = '/products/view?id=$product.getId()'">
                                <h5 class="card-title mb-0">
                                    $product.getName()
                                    #if ($product.getCount() != 0)
                                        <span class="badge badge-success fas-m">موجود</span>
                                    #else
                                        <span class="badge badge-danger fas-m">ناموجود</span>
                                    #end
                                </h5>
                            </div>
                            <ul class="list-group list-group-flush p-0">
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-4">
                                            قیمت :
                                        </div>
                                        <div class="col text-left text-success pl-0" style="position: relative;">
                                            <del style="font-size: 12px;color: #444; position: absolute; left: 4px; bottom: -10px;">$product.getProductPrice().getPrice()</del>
                                            <b style="position: absolute; top: -5px; left: 4px;">$product.getProductPrice().getActualPrice()</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="list-group-item text-center pb-1 social-group">
                                    <i class="fas fas-m fa-share-alt mb-1 mr-2"></i>
                                    <i class="socicon socicon-twitter mr-2"></i>
                                    <i class="socicon socicon-google mr-2"></i>
                                    <i class="fas fas-m fa-heart mb-1 mr-2 like"></i>
                                </li>
                                <li class="list-group-item text-center pb-1 social-group bg-dark pt-0">
                                    <div class="row">
                                        <button class="btn btn-dark btn-sm col col-6 inc">
                                            <i class="fas fas-m fa-plus"></i>
                                        </button>
                                        <button class="btn btn-dark btn-sm col col-6 dec">
                                            <i class="fas fas-m fa-minus"></i>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                            <div class="card-footer p-0">
                                <button class="btn btn-primary w-100 add_to_sc">
                                    <i class="fas fas-m fa-plus mr-1"></i>
                                    افزودن به سبد خرید
                                    <div class="badge badge-pill badge-light" id="count">0 عدد</div>
                                </button>
                            </div>
                        </div>
                    </div>
                #end

            </div>
        </div>
    </div>
</div>



    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalLabel">ورود یا ثبت نام</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label class="col-form-label">شماره تلفن:</label>
                            <input type="text" class="form-control" id="phone-number">
                        </div>
                    </form>
                    <div class="form-group" style="display: none;">
                        <label class="col-form-label">کد:</label>
                        <input type="text" class="form-control text-center" id="code">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">لغو</button>
                    <button type="button" class="btn btn-success" id="register">ارسال کد</button>
                </div>
            </div>
        </div>
    </div>

    #parse("/template/footer.vm")
    #include("/template/client_scripts.html")
    <script>
        $(document).ready(function () {
            window.verify = false;
            $(".like").click(function (event) {
                event.preventDefault();
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                if (Likes.hasLiked(productId)) {
                    Likes.unlike(productId);
                    $(this).removeClass("text-danger");
                } else {
                    Likes.like(productId);
                    $(this).addClass("text-danger");
                }
            });

            $(".like").each(function () {
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                if (!Likes.hasLiked(productId)) {
                    $(this).removeClass("text-danger");
                } else {
                    $(this).addClass("text-danger");
                }
            });

            $(".add_to_sc").click(function (event) {
                event.preventDefault();
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                ShopCard.inc(productId);
                $(this).find("#count").html(ShopCard.get(productId)["count"] + " " + "عدد");
            });


            $(".inc").click(function (event) {
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                ShopCard.inc(productId);
                parent.find("#count").html(ShopCard.get(productId)["count"] + " " + "عدد");
            });


            $(".dec").click(function (event) {
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                if (ShopCard.get(productId)["count"] <= 0)
                    return;
                ShopCard.dec(productId);
                parent.find("#count").html(ShopCard.get(productId)["count"] + " " + "عدد");
            });

            $(".add_to_sc").each(function () {
                var parent = $(this).closest(".product");
                var productId = parent.attr("data-product-id");
                $(this).find("#count").html(ShopCard.get(productId)["count"] + " " + "عدد");
            });

            $("#next").click(function (event) {
                var token = Cookies.get("token");
                if (token == undefined || token == null || token == '') {
                    $("#loginModal").modal("show");
                    event.preventDefault();
                }
            });
            
            $("#register").click(function (event) {
                if (!window.verify) {
                    var phoneNumber = $("#phone-number").val();
                    $.ajax({
                        method: "GET",
                        url: "/user/new",
                        data: {
                            phone : phoneNumber
                        }
                    }).done(function (msg) {
                        $("#code").parent().show();
                        window.verify = true;
                    }).fail(function () {
                        alert("Error occured");
                    });
                } else {
                    var phoneNumber = $("#phone-number").val();
                    var code = $("#code").val();
                    $.ajax({
                        method: "GET",
                        url: "/user/verify",
                        data: {
                            phone : phoneNumber,
                            code : code
                        }
                    }).done(function (msg) {
                        $("#loginModal").modal("hide");
                        Cookies.set("token", msg.trim());
                    }).fail(function () {
                        alert("Error occured");
                    });
                }
            });
        });

        function onPriceChange() {
            $("#from-price-label").html(priceSlider.getValue()[0] + ' تومان');
            $("#to-price-label").html(priceSlider.getValue()[1] + ' تومان');
        }


    </script>
</body>
</html>
