<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="">

    <title>$pageTitle</title>

    #include("/template/cl_header_resources.html")
</head>
<body class="rtl">
    #parse("/template/client_header.vm")
    #if ($isMobile)
    <div class="container-fluid mh-100vh pt-5 mt-0">
    #else
    <div class="container-fluid mh-100vh">
    #end
    <div class="row">
        <div class="col col-12 p-4">
            <h2>$pageTitle</h2>
            <section class="p-4">
                $pageContent
            </section>
        </div>
    </div>
</div>

    #parse("/template/footer.vm")
    #include("/template/client_scripts.html")
    <script>
        $(document).ready(function () {
        });
    </script>
</body>
</html>
