@font-face {
    font-family: 'Iran';
    font-style: normal;
    src: url(../font/IRANSansWeb_Light.woff2) format('woff2');
}

body {
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

html {
    font-family: 'Iran', sans-serif;
}

span, div, textarea, input, button, i, b, s, h1, h2, h3, h4, h5, h6 {
    font-family: 'Iran', sans-serif;
}

* {
    font-family: 'Iran', sans-serif;
}


.fas-m {
    vertical-align: middle;
}


#main-navbar {
    box-shadow: 0px 0px 7px #444;
    z-index: 800 !important;
}


.container-fluid {
    z-index: 700 !important;
    padding: 101px 0px 0px 0px;
}

#main-carousel {
    background-color: #5adb5e;
    background-image: url("../image/binding-dark.png");
}


.carousel-item {
    text-shadow: 0px 0px 15px #000;
}

.carousel-caption {
    background: rgba(31, 31, 31, 0.66);
}

.btn-none {
    background: transparent !important;
}

.nav-dropdown-btn {
    background: transparent;
    border: 0px;
    padding: 5px 7px;
}

#category-container {
    box-sizing: border-box;
    border-top: 1px #333 solid;
}

#category-container > div > button {
    background: transparent;
    box-shadow: none;
    border: 0;
    padding: .50rem .5rem;
    border-radius: 0;
    border-bottom: 3px transparent solid;
}

#category-container > div > button:focus {
    border-bottom-color: purple;
}

.mh-100vh {
    min-height: 100vh;
}